# --- App (local development, dibaca oleh src/server.js) ---
PORT=3000

# --- Deployment (dipakai docker-compose.yml di VPS, isi manual di .env VPS, JANGAN dicommit) ---
DOCKERHUB_USERNAME=usernamekamu
IMAGE_TAG=latest
DOMAIN_NAME=voter.rizzz.dev
